<div class="card mb-3" id="tweet-<%= tweet.id %>">
  <div class="card-body">
    <%= render partial: "comments/show", locals: { tweet: tweet} %>
    <h4>Comments:</h4>
    <div id="comments">
      <% if tweet.comments.any? %>
        <% tweet.comments.each do |comment| %>
          <div class="comment">
            <%= render partial: "comments/edit", locals: { tweet: tweet, comment: comment } %>
          </div>
        <% end %>
      <% else %>
        <p>No comments yet.</p>
      <% end %>
    </div>
   <h4>Add a comment</h4>
    <%= render partial: "comments/add", locals: { tweet: tweet} %>
  </div>
</div>
