<div class="comment">
  <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
  <% if comment.user == current_user %>
    <%= link_to 'Delete', tweet_comment_path(@tweet, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
